header {
    width: 1510px;
    height: 80px;
    background-color: black; color: white;
    display: flex;
    /* gap: 250px; */
}

header a {
    color: white;
    font-size: 22px;
}

a {
    text-decoration: none;
}

footer {
    background-color: black;
}

.nav {
    display: flex;
    gap: 35px;
    margin-top: 25px;
    margin-left: 480px;
}

.registration {
    background-color: #E0D519;
    width: 160px;
    height: 32px;
    margin-top: 25px;
    margin-left: 200px;
    /* white-space: nowrap; */
    text-align: center;
}

.logo {
    width: 150px;
    height: 50px;
    margin-top: 20px;
    margin-left: 2%;
}


.intro {
    background-color: #D9D9D9;
    color: black;
    width: 1510px;
    height: 450px;
    margin-top: 0px;
    display: flex;
}

.short-line {
    background-color: orange;
    border-color: orange;
    width: 130px;
    height: 2px;
    margin-left: 0px;
    margin-top: 20px;
}

p {
    font-family: 'Times New Roman', Times, serif;
    font-size: 24px;
    font-weight: bold;
}

.book-img {
    width: 450px;
    height: 450px;
    margin-left: 200px;
    margin-top: 40px;

}

.book-text {
    /* background-color: lightgreen; */
    width: 40%;
    height: 350px;
    margin-left: 100px;
    margin-top: 20px;
}

.text {
    font-size: 36px;
    text-transform: uppercase;
}

.order {
    background-color: #E0D519;
    width: 180px;
    height: 40px;
    color: #fff;
    font-size: 24px;
    text-align: center;
    margin-left: 145px;
    margin-top: 55px;
}


.hero {
    background-color: black;
    color: white;
    width: 1510px;
    height: 800px;
}

.hero-2 {
    display: flex;
    margin-left: 20px;
    margin-top: 0px;

}


.sarlavha {
    margin-left: 0px;
    margin-top: 0px;
    font-size: 40px;
    font-weight: 100px;
}

.line-2 {
    background-color: orange;
    border-color: orange;
    width: 130px;
    height: 2px;
}

.feature-heading {
    font-size: 32px;
    font-weight: 100px;
}

.item-img {
    width: 400px;
    height: 400px;
}

footer {
    background-color: black;
    width: 1510px;
    height: 550px;
}

.aksiya {
    background-color: #D9D9D9;
    width: 1000px;
    height: 400px;
    display: flex;
}

a {
    color: #fff;
}

.footer-line {
    background-color: orange;
    border-color: orange;
    width: 1300px;
    height: 2px;
}